.header {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.header h2 {
  margin-left: 10px;
  font-weight: 700;
}

.header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.deleteBtn {
  width: 2rem;
}
