.popUp {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popUp h2{
    padding-bottom: 1rem;
    text-align: center;
}

.formField {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.formField select {
  width: 100%;
}

.actionSection {
  display: flex;
  justify-content: space-between;
}

.actionSection > div {
  display: flex;
  gap: 1rem;
}
